.board-point {
  transition: transform 2s ease;
  transform-origin: center;
}

.board-point:hover {
  r: 12;
  cursor: pointer;
}

.piece {
  transition: cx 180ms linear, cy 180ms linear;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

#hint {
  margin-top: 30px;     /* space from the top */
  font-size: 24px;      /* make text larger */
  font-weight: bold;    /* make it bold */
  text-align: center;   /* keep it centered */
}